.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #1e88e5;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
