.ChangePassword-main {
  padding: 15px;
  display: flex;

  align-items: center; 
  justify-content: center;  
}

.ChangePassword-field {
  width: 270px !important;
}
.ChangePassword-button {
  width: 270px;
}