.App-logo {
   height: 45px;
   margin-top: 10px;
   margin-left: 10px;
}

.App-header {
  background-color: #1e88e5;
  height: 70px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-leftNav {
  height:600px;
  padding:10px;
}

.container {
  display: flex;
  justify-content: center;
}

.nav-container {
    padding: 15px;
}

