server:
    adminMinThreads: 1
    adminMaxThreads: 10
    adminContextPath: ${ADMIN_CONTEXT_PATH:- /}
    applicationContextPath: /
    applicationConnectors:
        - type: http
          port: 8099
#        - type: https
#          port: 8445
#          keyStorePath: /home/jc064522/dev/gchq/certs/certs3/keystore.jks
#          keyStorePassword: changeit
#          trustStorePath: /home/jc064522/.sdkman/candidates/java/current/jre/lib/security/cacerts
#          #trustStorePassword: stroompassword1
#          #validateCerts: true
#          keyStoreType: JKS
#          supportedProtocols: [TLSv1, TLSv1.1, TLSv1.2]
    adminConnectors:
        - type: http
          port: 8100

database:
    driverClass: org.mariadb.jdbc.Driver
    user: ${DB_USER:- stroomuser}
    password: ${DB_PASSWORD:- stroompassword1}
    url: ${DB_URL:- jdbc:mariadb://localhost:3309/auth}
    properties:
        charSet: UTF-8
        hibernate.dialect: org.hibernate.dialect.MySQLInnoDBDialect
        hibernate.show_sql: false

#flyway:
#  # The encoding of SQL migration. (default: UTF-8)
#  encoding: UTF-8
#  # The schemas managed by Flyway. (default: default schema of the connection)
#  schemas:
#  # The fully qualified class names of the callbacks for lifecycle notifications. (default: empty list)
#  callbacks:
#  # The name of the schema metadata table that will be used by Flyway. (default: schema_version)
#  metaDataTableName: schema_version
#  # The file name prefix for sql migration (default: V)
#  sqlMigrationPrefix: V
#  # The file name separator for sql migration (default: __)
#  sqlMigrationSeparator: __
#  # The file name suffix for sql migration (default: .sql)
#  sqlMigrationSuffix: .sql
#  # The prefix of every placeholder. (default: ${ )
##  placeholderPrefix: ${
##  # The suffix of every placeholder. (default: } )
##  placeholderSuffix: }
##  # The map of <placeholder, replacementValue> to apply to sql migration scripts. (default: empty map)
#  placeholders:
#  # Locations to scan recursively for migration. (default: db/migration)
#  locations:
#    - db/migration
#  # The fully qualified class names of the custom MigrationResolvers to be used in addition to the built-in ones for resolving Migrations to apply. (default: empty list)
#  resolvers:
#  # Allows migration to be run "out of order". If you already have versions 1 and 3 applied, and now a version 2 is found, it will be applied too instead of being ignored. (default: false)
#  outOfOrder: false
#  # The description to tag an existing schema with when executing baseline. (default: << Flyway Baseline >>)
#  baselineDescription: "<< Flyway Baseline >>"
#  # Whether to automatically call baseline when migrate is executed against a non-empty schema with no metadata table. (default: false)
#  # Be careful when enabling this as it removes the safety net that ensures Flyway does not migrate the wrong database in case of a configuration mistake!
#  baselineOnMigrate: false
#  # Whether to automatically call validate or not when running migrate. (default: true)
#  validateOnMigrate: true


logging:
  level: ERROR
  loggers:
    stroom: DEBUG
    io.dropwizard: INFO
    org.eclipse.jetty: INFO
    org.flywaydb: INFO
  appenders:
    - type: console
      logFormat: "%-6level [%d{HH:mm:ss.SSS}] [%t] %logger{5} - %X{code} %msg %n"
      timeZone: UTC

jooq:
  dialect: MYSQL
  logExecutedSql: yes
  renderSchema: yes
  renderNameStyle: QUOTED
  renderKeywordStyle: LOWER
  renderFormatted: no
  paramType: INDEXED
  statementType: PREPARED_STATEMENT
  executeLogging: no
  executeWithOptimisticLocking: no
  attachRecords: yes
  updatablePrimaryKeys: no

jwsExpirationTimeInMinutesInTheFuture: 5
jwsIssuer: stroom
jwsSecret: ${JWS_SECRET:- CHANGE_ME}
certificateDnPattern: CN=[^ ]+ [^ ]+ \(?([a-zA-Z0-9]+)\)?
loginUrl: http://localhost/login
stroomUrl: http://localhost/stroom
advertisedHttpHost: ${ADVERTISED_HTTP_HOST:- http://localhost}
advertisedHttpPort: ${ADVERTISED_HTTP_PORT:- 8099}
advertisedHttpsHost: ${ADVERTISED_HTTPS_HOST:- https://localhost}
advertisedHttpsPort: ${ADVERTISED_HTTPS_PORT:- 8100}
zookeeperQUorum: {$ZOOKEEPER_QUORUM:- http://localhost:2181}