.table-small-container .ReactTable input, .table-small-container .ReactTable select {
  padding: 2px 7px !important;
  font-size: 12px !important;
}

.table-header-small {
  height:25px;
  font-size: 14px;
}

.table-row-small {
  height:30px;
  font-size:12px;
  padding-top:2px;
}

.table-row-selected{
  /* This is amber100, a lighter version of the accent colour, amber900 */
  background-color: #FFECB3 !important;
 }
