.Login-card {
    width: 300px;
    padding: 15px;
}

h4 {
    text-align: center;
}

/* We need to force the width on the input otherwise it'll be a bit short */
.LoginForm-input {
    width: 100% !important;
}

/* Use Flex to center the avatar icon */
.LoginForm-iconContainer {
	display: flex;
}
.LoginForm-icon {
    margin: auto;
}