.Button {
    display: flex;
    justify-content: center;
    padding: 0 10px 0px 0px;
}

.Button.no-icon {
    padding: 0px 10px 0px 10px;
}

.Button span {
    padding: 0px 5px 0px 10px;

}

.Button img {
    height: 25px;
}

.Button__contents {
    align-self: center;
}

